




<div class="col-xs-2">

    <%= link_to 'Back to my profil', user_path(current_user), class: "btn btn-info btn-lg"  %>

</div>
<div class="col-xs-8">
 <div = class="text-center">
 <h2><%= @article.title %></h2>

 <%= @article.content_html %>

</div>
</div>

<div class="col-xs-2">

</div>


