<div id="sidebar">

<h1>Mon profil</h1>
<%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
<p>Communities followed</p>

<p>Invite friends</p>

<%= link_to 'create a post', new_article_path %>
<%= link_to 'edit my post', new_article_path %>









