
<div class="wrapper">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>When was the last time you were surprised by one of your reading?</h1>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Once a week we randomly pick someone among the growing list of subscribers and send their message to all the others.

      </h2>
    </div>
  </div>
  </div>

<div class="verticalspacerb"></div>

  <div class="row">
    <div class="facebook_connect col-sm-12 text-center">
      <%= link_to image_tag(asset_path('facebook.png'), :width => 180), omniauth_authorize_path(:user, :facebook) %>
      <div class="verticalspacerb"></div>
      <h2>Just choose wich community your are intersted in !</h2>
    </div>

  </div>

<div class="verticalspacerb"></div>
<div class="verticalspacerb"></div>

<div class="fond">
  <div class="row">
    <div class="verticalspacerb"></div>

    <div class="col-sm-12 text-center" style="color:black">
      <h2>As in real life, we believe the best encounters are due to chance! </h2>
      <h4>(Yes! We believe in serendipity)</h4>
    </div>
  </div>

<div class="verticalspacerb"></div>

<div class="container">
  <div class="row text-center">

    <div class="col-lg-4" style="color:black">
      <h3>1 - Choose the community you are in love with, entrepreneurs, cookers, moutaineers, yoga... and a lot more to come :)</h3>
    </div>

    <div class="col-lg-4" style="color:black">
      <h3>2 - Received once a week a post from the member randomly picked up on the community your subscirbed</h3>
    </div>

    <div class="col-lg-4" style="color:black">
      <h3>3 - Once a week, you could be picked to share you passion with the community you susbsribed</h3>
    </div>
<div class="verticalspacerb"></div>
<div class="verticalspacerb"></div>
    <div class="row">
    <div class="facebook_connect col-sm-12 text-center">
      <%= link_to image_tag(asset_path('facebook.png'), :width => 180), omniauth_authorize_path(:user, :facebook) %>
    </div>
  </div>
  </div>
  </div>
<div class="verticalspacerb"></div>
<div class="verticalspacerb"></div>

  </div>

   <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <ul class="list-inline social text-center">
              <li>
                <a href="https://twitter.com/yccmd">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/yccmd">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="text-right">
              <ul class="list-unstyled">
              <li><a href="x">Team</a></li>
              <li><a href="x">FAQ</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



