<h1 class = 'text-align-center'>Inspire & be inspired !</h1>

<h2>Once a week we randomly pick someone among the community you subscribed and send their thoughts, story, tips to all the others members of the community!</h2>
  <%= render 'layouts/sessions' %>


<div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <div class="feature-picture">
              <img src="image/worker.png" width="96">
            </div>
            <p>
              Subscribe & and choose the community you are in love with
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <img src="image/trust.png" width="96">
            <p>
              Discover each week story, tips from the community your subscibed
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <img src="image/delivery.png" width="96">
            <p>
             Share : you are picked ? you will get the chance to share your story to thousands of people
            </p>
          </div>
      </div>
</div>

