
<div class="row">
<div class="intro">

  <h1 class="col-sm-12 text-center">Inspire & be inspired !</h1>
    <h2 class="col-sm-12 text-center">Once a week we randomly pick someone among the community you subscribed and send their thoughts, story, tips to all the others members of the community!
    </div>

    <div class="sign_up_landing text-center col-sm-12">
    <%= link_to image_tag(asset_path('facebook.png'), :width => 180), omniauth_authorize_path(:user, :facebook) %>
    </div>
</div>


