<h1>Welcome</h1>

<h1>Inspire & be inspired !</h1>

<%= render 'layouts/sessions' %>

<div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <div class="feature-picture">
              <img src="image/worker.png" width="96">
            </div>
            <p>
              Choose what you are interested in and subscribed
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <img src="image/trust.png" width="96">
            <p>
              Each week we picked someone on this list and give him the rigth to writte
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="feature">
            <img src="image/delivery.png" width="96">
            <p>
             Each week you could be picked to share stories, tips, adventures
            </p>
          </div>
      </div>
</div>

