// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.editable {
  height: 400px;
  margin-left: 150px;
  margin-right: 150px;

}