 html, body{
  height: 100%;
  width: 100%;
  font-family: "Droid Serif";

}


.container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(asset-path('landing.jpg'));
}

.facebook_connect{
  position: absolute;
  margin: auto;
  width: 300px;
  height: 40px;
}

.verticalspacerb {
height: 100px;
}

