// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  min-height: 100%;
  background-color: rgb(75, 141, 217);
  /*font-family: : "Droid Serif";*/

}

.col-xs-3.profil {
  background-color: rgb(255, 255, 255);
  min-height: 500px;
  border-radius: 5px;
  border-color: grey;
  border: solid;
  border-width: 1px;
  font-style: "Droid Serif";
  position: fixed;
  width: 20%;
  margin-top: 20px;
}

.picture{
  border-radius: 50%;
}




.well.white {
background-color: rgb(255, 255, 255);
 border-color: grey;
  border: solid;
  border-width: 1px;
  font-style: "Droid Serif";
}

.bouton {
  background-color: white;
}

.col-xs-9.articles {
  position: relative;
  float: right;
  margin-top: -480px;
}

.verticalspacer {
  height: 10px;
}



