// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#sidebar{
   position:fixed;
   height:100%;
   width:200px;
   top:0;
   left:0;
   background:grey;
}